// Imports
@import "../base/fonts";
@import "../base/colors";

.testimonials,
.testimonialsTwo {
	h4 {
		font-family: $body;
	}

	p {
		a {
			@apply font-semibold underline text-green-two hover:text-yellow-two transition-all ease-in-out duration-500;
		}
	}
}

.testimonialsTwo {
	background-image: url("/svg/background/layered-peaks-haikei-flatgreen-flatdark-mobile.svg");

	@media screen and (min-width: 992px) {
		background-image: url("/svg/background/layered-peaks-haikei-flatgreen-flatdark.svg");
	}
}
