// Imports
@import "../base/fonts";
@import "../base/colors";

.videoBlock {
	h4 {
		font-family: $body;
	}

	background-image: url("/svg/background/layered-peaks-haikei-green-flatgreen-two-mobile.svg");

	@media screen and (min-width: 1280px) {
		background-image: url("/svg/background/layered-peaks-haikei-green-flatgreen-two.svg");
	}
}
